body {
    background: linear-gradient(#e66465, #9198e5);
}

h1,thead,tbody {
    color: white;
}

h1 {
    text-align: center;
}

th scope , td {
    border: solid 1px white;
    padding: 20px 20px 20px;
}

td {
    font-size: 1.1em; 
    text-shadow: 1px 1px 2px pink;
}
