body {
    background-color: rgba(1, 1, 1, 0.782);
}

table {
    color: white;
}

th scope , td {
    border: solid 1px white;
    padding: 20px 20px 20px;
    background: inear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

td {
    font-size: 1.1em;
    background: inear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}