h1 {
	color: black;
	text-shadow: rgb(82, 178, 226) 1px 0 10px;
} 

h2 {
    color: black;
	text-shadow: rgb(237, 230, 105) 1px 0 10px;
}
h3 {
    color: black;
	text-shadow: rgb(231, 77, 133) 1px 0 10px;
}